.challenge {
  margin: 10px 0 0;
}

.challenge p {
  display: inline-block;
  margin-top: 0;
  margin-right: 10px;
}

.challenge span {
  font-size: 36px;
  font-weight: bold;
  margin-right: 5px;
  vertical-align: bottom;
}
