.challenge-form fieldset {
  padding: 0;
  border: 0;
  margin-bottom: 10px;
}

.challenge-form input[type="text"] {
  width: 35px;
  line-height: 25px;
  margin-bottom: 10px;
}

.challenge-form button {
  line-height: 20px;
  font-size: 14px;
  border-radius: 5px;
}
