.form-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form p {
  color: white;
}

.form button {
  background-color: rgb(26, 26, 26);
  color: white;
  font-size: 40px;
  border: 0;
  padding: 10px 20px;
  border-radius: 15px;
}

.form-restart {
  position: absolute;
  bottom: 5%;
  right: 3%;
}

.form-restart button {
  background-color: rgb(26, 26, 26);
  color: white;
  font-size: 40px;
  border: 0;
  padding: 10px 20px;
  border-radius: 15px;
}
